---
layout: default
---
<section class="docs">
    <div class="grid">

    <div class="unit three-fourths">
        <article>
        <h1>{{ page.title }}</h1>
            {{ 
               page.content
            }}
        </article>
    </div>

    <div class="unit one-fourth">
        <aside>
        <h3>하스스톤 카드 리뷰</h3>
            <a href="{{ base.url }}{{"/reviews/SilverHandKnight.html"}}">{{"은빛성기사단 기사"}}</a><br>
            <a href="{{ base.url }}{{"/reviews/UnboundElemental.html"}}">{{"속박풀린 정령"}}</a><br>
            <a href="{{ base.url }}{{"/reviews/ArgentCommender.html"}}">{{"은빛십자군 부대장"}}</a><br>
            <a href="{{ base.url }}{{"/reviews/Tiger.html"}}">{{"가시덤불 호랑이"}}</a><br>
            <a href="{{ base.url }}{{"/reviews/Rabenholt.html"}}">{{"리벤홀트 암살자"}}</a><br>
            <a href="{{ base.url }}{{"/reviews/FairyDragon.html"}}">{{"요정용"}}</a><br>
        <h1></h1>
        <h3>IT 주변기기 리뷰</h3>
            <a href="{{ base.url }}{{"/reviews/MagicTrackPad.html"}}">{{"Apple Magic TrackPad"}}</a><br>
            <a href="{{ base.url }}{{"/reviews/K760.html"}}">{{"Logictech K760"}}</a><br>
        <h1></h1>
        <h3>게임 리뷰(임시)</h3>
            <a href="{{ base.url }}{{"/reviews/pokemonX.html"}}">{{"포켓몬스터 X"}}</a><br>
            <a href="{{ base.url }}{{"/reviews/pokemonOMR.html"}}">{{"포켓몬스터 오메가 루비"}}</a><br>
            <a href="{{ base.url }}{{"/reviews/kirby3DS.html"}}">{{"커비 트리플 디럭스"}}</a>
        </aside>
        
        </div>
    </div>

</section>